.ReactGitlabNotebook{}

.login .title,
.login .user,
.issue .id,
.issue .title,
.issue .author,
.issue .to,
.issue .assignee,
.label {
  float:left;
}

.login .title,
.login .user,
.issue .id,
.issue .title,
.issue .assignee{
  margin-right: 5px;
}

.label {
  margin-right: 1px;
}

.login .issues,
.issues .issue {
  clear: both; 
}

.login .avatar img{
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.issue {
  font-size: 12px;
}